body .post-content .products-slider li{width:auto !important;}
body .fullwidth-box{background-image:none !important;}

.search-page-search-form .seach-form { text-align:left !important;margin-left: 0 !important;}
.search-page-search-form input[type="submit"] { float: none !important; }

.full-boxed-pricing.columns-1,
.full-boxed-pricing.columns-2,
.full-boxed-pricing.columns-3,
.full-boxed-pricing.columns-4,
.full-boxed-pricing.columns-5,
.full-width .full-boxed-pricing.columns-1,
.full-width .full-boxed-pricing.columns-2,
.full-width .full-boxed-pricing.columns-3,
.full-width .full-boxed-pricing.columns-4,
.full-width .full-boxed-pricing.columns-5{    
	width: 98%
}
